body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    background-color: rgb(219, 107, 16); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(255, 170, 0), rgb(34, 255, 0));
}
#cujo{
    border: 12px inset goldenrod; 
    width: 450px;
    height: 320px;
}

h1 {
    font-size: 36x;
}

.api-section {
    width: 90%;
    max-width: 900px;
    padding: 24px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 24px 24px 0;
}

.api-content {
    font-weight: bold;
    font-style: italic;
    color: #999;
}

#spot{
   
color:white;
  background-color: red; 
  background-image: conic-gradient(red, yellow, green, blue, black);
}
#rain{
    background-color: rgb(255, 0, 17); 
  background-image: linear-gradient(rgb(109, 147, 151), rgb(231, 221, 160));
}
